.authentication {
    height: 100vh;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    text-align: center
}

.authentication .card {
    max-width: 360px;
    margin-top: 150px;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12)
}

.authentication .card .header {
    margin-top: -80px;
    color: #16191a;
    margin-bottom: 20px;
    box-shadow: 0 16px 38px -12px rgba(0, 0, 0, 0.56), 0 4px 25px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2)
}

.authentication .card .header h1 {
    font-size: 17px;
    margin-bottom: 12px;
    margin-top: 7px;
    letter-spacing: 1px;
    color: #fff;
}

.authentication .card .title {
    margin: 0;
    font-size: 15px;
    font-weight: 700;
    margin: 30px 0 20px;
}

.authentication .card .msg {
    font-size: 14px;
    font-weight: 400;
    text-transform: none
}

.authentication .l-social {
    margin: 0
}

.authentication .l-social li {
    display: inline-block
}

.authentication .l-social li a {
    text-align: center;
    padding: 5px 10px;
    color: #666
}

.authentication .btn {
	width: 200px;
}

.partition {
	margin-bottom: 15px;
}

.authentication .text-left label {
	color: #000;
	font-size: 11px;
}

.authentication a {
	font-size: 11px;
	font-weight: 600;
}

.authentication [type="checkbox"].filled-in:not(:checked)+label:after {
    height: 16px;
    width: 16px;
    background-color: transparent;
    border: 2px solid #5a5a5a;
    top: 0px;
    z-index: 0
}

@media only screen and (min-width: 992px) and (max-width: 1024px) {
    .authentication .card {
        margin-top: 100px
    }
}

@media only screen and (max-width: 767px) {
    .authentication .card {
        margin-top: 100px
    }
}